@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* Show thank-you message when redirected back from form submission */
#thank-you:target {
    display: block !important;
}
